CONTROL_PANEL_NAME="Speeddan Control V3"
CONTROL_ADMIN_USER=""
CONTROL_ADMIN_PASS=""
CONTROL_SESSION_SECRET=""

DTE_PANEL_URL=""
DTE_PANEL_API_KEY=""
DTE_SUPERADMIN_USER=""
DTE_SUPERADMIN_PASS=""

BARBER_PANEL_URL=""
BARBER_SUPERADMIN_API_KEY=""

ERP_PANEL_URL=""
ERP_SUPERADMIN_API_KEY=""
